*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: rgb(213, 176, 176);
}

table{

    box-shadow: 0px 0px 5px rgba(177, 176, 176, 0.67);
    width: 60%;
    height: 30rem;
    padding: 2rem;
    border-radius: 2rem;
    background: white;
    
}
.container{

    border: 2px solid green;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}